/* common */
* {
    font-family: Arial, sans-serif;
}

.ms_btn {
    padding: 6px 10px 8px;
    border-radius: 25px;
    border: none;
    color: #ffffff;
    width: fit-content;
}

.ms_spotlight {
    background-position: center top;
    background-size: cover;
}

/* palette */
.ms_dark_text {
    color: #000000;
}

.ms_light_text {
    color: #ffffff;
}

.ms_dark_text_300 {
    color: #727272;
}

.ms_blue_text {
    color: #167ed2;
}

.ms_bg_dark {
    background-color: #000000;
}

.ms_bg_dark_300 {
    background-color: #1f1f1f;
}

.ms_bg_gray {
    background-color: #bebcbb;
}

.ms_bg_gray_700 {
    background-color: #363636;
}

.ms_bg_white {
    background-color: #ffffff;
}

.ms_bg_orange {
    background-color: #cd3d0f;
}

.ms_bg_blue {
    background-color: #2d64e6;
}

.ms_bg_blue_700 {
    background-color: #161c3b;
}

/* typo */
.ms_h2 {
    margin: calc(1.325rem + .9vw) 0;
}

.ms_small_font {
    font-size: 0.7rem;
}

/* header */
header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

.header_top {
    height: 36px;
    padding: 10px;
}

.header_top .ms_logo{
    height: 100%;
    vertical-align: baseline;
}

.header_bottom .ms_logo {
    width: 1.5rem;
}

.dropdown-toggle::after {
    border: none;
    content: url('../img/chevron-down-solid.svg');
    width: 0.7rem;
    vertical-align: middle;
}

.ms_hamburger {
    border: 1px solid #e5e5e5;
}

/* main */
main {
    margin-top: 112px;
}

/* hero */
.hero_top.ms_spotlight {
    background-image: url('../img/jumbo-bg.png');
}

.hero_top .ms_logo, .ms_spotlight .ms_logo {
   width: 55%;
}

.hero_card {
    width: 100%;
    border-radius: 20px;
    margin: 15px 0;
    padding: 3px;
    overflow: hidden;
    box-sizing: content-box;
}

.hero_card.active {
    border: 3px solid #2d64e6;
}

.hero_card img {
    width: 100%;
    border-radius: 20px;
}

/* introducing PS5 */
.ms_product_big {
    width: 100%;
}

.ms_product_small{
    width: 60%;
}

.product_card{
    position: relative;
    text-align: center;
}

.product_card.active {
    border-bottom: 2px solid #2d64e6;
}

.product_card:not(.active)::after {
    position: absolute;
    content: '';
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #ffffff80;
    transition: background-color 0.5s;
}

.product_card:hover::after {
    background-color: transparent;
}

/* new releases */
.new_releases.ms_spotlight {
    background-image: url('../img/it-takes-two-hero-banner-desktop.jpg');
}

.new_releases .game_card img {
    width: 100%;
    border-radius: 20px;
}

/* social */
.social_logo {
    width: 10%;
}